h1{
    text-align: center;
color: black;
}

h2{color: darkolivegreen;}

main{margin: 20px 25px;}

#empuje{color: darkgoldenrod;
font-size: 30px;}

h2{margin: 5px 22px;}



h3{font-size: 30px;
margin-left: 20px;
color: brown;}

h4{font-size: 30px;
    margin-left: 20px;
    color: brown; }



h5{font-size: 30px;
margin-left: 20px;
color: brown;}

.mipana a{text-decoration: none;}

#one{margin-left: 30px;}
#two{margin-left: 30px ;}
#three{margin-left: 30px ;}      


    
